#no-script {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#no-script .app-logo {
  width: 60%;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@media (min-width: 1024px) {
  #no-script .app-logo {
    width: 30%;
  }
}

@media (min-width: 768px) {
  #no-script .app-logo {
    width: 40%;
  }
}

@media (min-width: 640px) {
  #no-script .app-logo {
    width: 50%;
  }
}

@media (prefers-color-scheme: light) {
  #no-script {
    background-color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  #no-script {
    background-color: #27272a;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
